@{
    ViewData["Title"] = "Welcome";
}

<head>
    <link rel="stylesheet" href="~/css/Introduction/Introduction.css">
</head>

<body>

    <div class="text-center">
        <h1 class="display-4">Welcome to Memory Lane</h1>
        <p>This website is based on a group of weirdos with top level skills, funny and retarded clips.</p>
        <p>Please register and login to access all our memories.</p>
    </div>

    <div class="form">
        <a href="/User/Register" class="btn btn-primary">Register</a>
    </div>

    <div>
        <img id="sam" src="~/images/Introduction/Sam.png" alt="Sam's graduation">
        <img id="mcdonalds" src="~/images/Introduction/mcdonalds.png" alt="Meeting sarrow at mcdonalds">
        <img id="ali" src="~/images/Introduction/ali.png" alt="Ali carry">
    </div>

    <video autoplay loop>
        <source src="~/videos/Introduction/zardi dans.mov">
    </video>
    
</body>