body {
    margin: 0;
    overflow: hidden;
    /*background-image: url('/images/Lol/background.png');*/
    background-color: #181818;
}

.card {
    position: relative;
    top: 20%;
    border-radius: 16px;
    border-width: 2px;
    background-color: #85bbff;
}

.card-body {
    border-radius: 16px;
    background-color: #444;
}

.card-title {
    background-color: #444;
    color: #ffffff;
}

.form-group {
    color: #ffffff;
}

.form-control {
    border-width: 2px;
    border-color: #85bbff;
    border-radius: 16px;
    margin-bottom: 20px;
}

.btn {
    border-width: 2px;
    border-radius: 16px;
    border-color: #85bbff;
    color: #444;
    background-color: #ffffff;
    padding: 10px 20px;
}

.btn:hover {
    border-width: 2px;
    border-color: #85bbff;
    background-color: #444;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    border-width: 2px;
    border-color: #008080;
    background-color: #ffffff;
    color: #444;
}

p {
    margin-top: 15px;
}